@import "../../../styles/main.scss";

.container{
    @include flex-row-center();
    width: 200px;
    height: 60px;
   
    
    

}
.button__container{
    @include flex-row-center();
    width: 100%;
    height: 100%;
    background-color:$Shamrock;
    border-radius:15px;
    border: 2px solid $Shamrock;
    @include button-sm();
    color:$White;
}

.successContainer{

}