$Bright-Turquoise: #28FFBF;
$Gallery         : #EEEEEE;
$Carnation       : #F8485E;
$Robins-Egg-Blue : #00C1D4;
$Yello-Orange    : #FFAA4C;
$Hoki            : #628395;
$CandleLight     : #FFD523;
$White           : #FFFFFF;
$Wisteria        : #9B72AA;
$Salomin         : #FFE194;
$Powder-Blue     : #B5EAEA;
$Moutain         : #1EAE98;
$Black           : #000000;